  <div class="row">   
    <div class="three columns">
      <label for="dataInputType">Data Entry Type</label>
      <select class="u-full-width" id="dataInputType">
        <option value="Complaint">Complaint</option>
        <option value="Diagnosis">Diagnosis</option>
        <option value="Treatment">Treatment</option>
        <option value="Test">Test</option>
        <option value="Prescription">Prescription</option>
      </select>
    </div>
    <div id="variable-input" class="nine columns">
			<div class="three columns">
				<label for="title">Object Title</label>
				<input class="u-full-width"  placeholder="Object Title" id="title">
			</div>
      <div class="three columns">
				<label for="second">Second Field</label>
				<input class="u-full-width"  placeholder="Second param" id="second">
			</div>
      <div class="three columns">
				<label for="third">Third Field</label>
				<input class="u-full-width"  placeholder="Third param" id="third">
			</div>
      <div class="three columns">
        <label for="third">Third Field</label>
        <input class="u-full-width"  placeholder="Third param" id="third">
      </div>
		</div>
  </div>
