  <div class="row">   
    <div class="three columns">
      <label for="dataInputType">Data Entry Type</label>
      <select class="u-full-width" id="dataInputType">
        <option value="Complaint">Complaint</option>
        <option value="Diagnosis">Diagnosis</option>
        <option value="Treatment">Treatment</option>
        <option value="Test">Test</option>
        <option value="Prescription">Prescription</option>
      </select>
    </div>
    <div id="variable-input" class="nine columns">
    
    </div>
  </div>
