<%- include head.ejs %>

<body>
  <%- include header.ejs %>
  <div class='container'>
  <% for (var index = 0; index < items.length; i++) %>
  	<%- include('existing_item.ejs', {category_items: items[index]} %>
  </div>
</body>
