<%- include head.ejs %>
<body>
	<%- include header.ejs %>
	<div class="container">
		<form class="form-inline" id="upload-form" action="/uploadData" method="POST", enctype="multipart/form-data">
			<div class="form-group">
				<label for="csv-data">Upload CSV</label>
				<input class="form-control" type="file" name="csv-data" accept=".csv">
			</div>
			<div class="form-group">
				<input class="form-control" type="submit">
			</div>
		</form>
	</div>
</body>