  <div class="well row" id='row0'>
    <div class='one column'>
      <input class='vert-center minus-button button-primary' id='minus0' type="button" value="X">
    </div>
    <div class="two columns">
      <label for="dataInputType0">Data Entry Type</label>
      <select class="u-full-width" id="dataInputType0">
        <option value="Complaint">Complaint</option>
        <option value="Diagnosis">Diagnosis</option>
        <option value="Treatment">Treatment</option>
        <option value="Test">Test</option>
<!--         <option value="Prescription">Prescription</option>
 -->      
      </select>
    </div>
    <div id="variable-input" class="nine columns">
      <div class="three columns">
        <label for="first0">String</label>
        <input class="u-full-width"  placeholder="String" id="first0">
      </div>
      <div class="three columns">
        <label for="second0">Second Field</label>
        <input class="u-full-width"  placeholder="String" id="second0">
      </div>
      <div class="three columns">
        <label for="third0">Third Field</label>
        <input class="u-full-width"  placeholder="String" id="third0">
      </div>
      <div class="three columns">
        <label for="fourth0">Fourth Field</label>
        <input class="u-full-width"  placeholder="String" id="fourth0">
      </div>
    </div>
  </div>
