<%- include head.ejs %>

<body>
  <%- include header.ejs %>
  <div class='container'>
  	<div class='inputs'>
	  <%- include('input_selector.ejs') %>
	  </div>
	  <div class='row'>
       <input class='plus-button' type="button" value="Add">
       <input class='button-primary' id='submit-button' type="button" value="Finish">
    </div>
    <div class='row'>
      <div class='twelve columns'>
        <h5>NOTE: for Dosages on Treatments, please format in the following form:</h5>
        <h5>25mg20, 35mg100 for a $20 25mg prescription and a $100 35mg prescription</h5>
        <h5>These, along with the Diagnoses for a Complaint, can be comma split</h5>
  </div>
</body>

<script type='text/javascript' src='/static/input_manual.js'></script>
<link rel="stylesheet" href="/static/manual.css">
