<%- include head.ejs %>
<body>
  <%- include header.ejs %>
  <div class='container'>
	  <%- include('existing_item.ejs', {items: parse_items}) %>
	  <div class='row'>
	  	<input class='button-primary' id='button-continue' type="button" value="Continue">
	  </div>
  </div>

</body>
