.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(+50%);
}

.well {
  background-color: #D5D5D5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0px 10px 10px 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}